/* https://clrs.cc */

.abstract {
  font-size: 14px;
  line-height: 1;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    padding-left: 25px;
    vertical-align: baseline;
}

body {
  min-width: 781px;
  padding: 35px;
  /* font-size: 17px; */
  font-size: 19px;
  text-align: left;
  /*  background-color: rgb(255, 249, 249); */
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  /* -webkit-text-stroke-width: 0px; */
  -webkit-text-stroke-color: rgb(255, 249, 249);
  -webkit-font-smoothing: subpixel-antialiased;
  color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-family: Cento, sans-serif; BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

.h-nav {
  font-size: 20px;
}

h3 {
  font-size: 1em;
}

.h3-nav {
  font-size: 22px;
}

p {
    margin-top: 0;
    font-weight: 400;
    line-height: 1.65;
}

p.below-profile {
  margin-top: 2px;
  font-size: 15px;
  line-height: 1.1;
}

ul {
  line-height: 1.65;
  list-style-position: inside;
  padding-left: 0;
}

ul.blog {
    font-size: 18px;
    list-style-type: none;
}


li.post {
    font-size: 18px;
    margin: 6px 0;
}

.name {
      /* font-size: 36px; or 40*/
    font-size: 34px;
}

.name a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

img {
    border: 0.25px solid black;
    max-width: 350px;
}

.left {
  float: left;
  /* width: 42%; */
  /* width: 41%; */
  /* width: 40%; */
  /* width: 375px; */
  width: 35%;
  /* min-width: 375px; */
  /* padding-left: 1%; */
  /* min-width: 450px; */
  /* padding-right: 0px; */
}


.right {
  max-width: 1000px;
  float: left;
  margin-left: 10%;
  margin-left: 40px;
    /* width: 55%; */
    /* height: 150%; */
  /* width: 54% */
    width: 60%;
    /* padding-right: 1%; */
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: #001f3f;
}

a:visited {
    text-decoration: none;
    font-weight: 300;
    color: #001f3f;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #003c7a;
    color: #001f3f;
}

a:active {
    text-decoration: none;
    color: #001f3f;
}

a.post:link {
    color: rgb(0, 0, 0);
    font-weight: normal;
}

.floatright {
    float: right;
}


@media only screen and (max-width: 1075px) {
    .left {
      margin-left: auto;
      margin-right: auto;
      padding-left: auto;
      padding-right: auto;
      display: inline-block;
      width: 100%;
      float: left;
      text-align: left;
      margin: 0 auto;
      align-self: center;
      max-width: 350px;
    }

    .right {
      display: block;
      float: left;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
}
